body {
font-family: 'Montserrat', sans-serif;
background-color: #f0f0f0;
margin: 0;
padding: 0;
}

h1 {
text-align: center;
color: #000000;
}

#create_scholarship {
max-width: 600px;
margin: 20px auto;
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
display: block;
margin-bottom: 8px;
color: #000000;
font-weight: bold;
}

textarea,
input[type="file"] {
width: 100%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
}

input[type="submit"] {
background-color: #4caf50;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #45a049;
font-weight: bold;
}

input[type="file"] {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}