body{
	font-family: 'Advent Pro', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
p.title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 96px;
	line-height: 117px;
	color: #3A3A3A;
	text-align: center;
	margin-top: 30px;
}
.flex{
	display: flex;
	justify-content: space-between;
}
.form{
	display: none;
	width: 50%;
	margin: 0 auto;
	padding: 50px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
}
.btns{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 41px;
	text-decoration: none;
	color: rgba(70, 70, 70, 0.5);
}
.btns:hover{
	color: #464646;
}
.active{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 41px;
	color: #464646;
}
.active:hover{
	color: #464646;
}
input{
	padding: 5px 15px;
	width: 100%;
	border: 2px solid #FFCA00;
	box-sizing: border-box;
	border-radius: 15px;
}
.login-btn{
	padding: 8px 40px;
	background: #FFCA00;
	box-shadow: 0px 0px 10px rgba(255, 202, 0, 0.05);
	border-radius: 20px;
	color: white;
	border: none;
}
.ceb{
	align-items: center;
}
.center{
	text-align: center;
}
.forget{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 29px;
	text-decoration: none;
	color: #464646;
	width: 65%;
}
.show{
	display: block;
}
.enable{
	display: none;
}
.w49{
	width: 49%;
}
.w{
	width: 70%;
	margin: 0 auto; 
}
.ws{
	width: 100%;
	text-align: center;
}

@media all and (max-width: 768px){
	.form{
		width: 70%;
	}
}

@media all and (max-width: 425px){
	.form{
		width: 100%;
	}
	.flex{
		display: block;
	}
	.w49{
		width: 100%;
		margin-top: 15px;
	}
	.btns{
		margin-left: 55px;
	}
	.footer{
		height: auto;
	}
}

@media all and (max-width: 375px){
	.btns{
		margin-left: 45px;
	}
	.ceb button{
		width: 100%;
	}
}

.fi-part-one{
	width: 50%;
}
.fi-part-two{
	width: 50%;
}
.fi-title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 78px;
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 15px;
}
.fi-subtitle{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	padding-bottom: 25px;
	color: #FFFFFF;
}
.nav-fi{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	align-items: center;
	color: #FFFFFF;
	margin-right: 25px;
}
.nav-fi:hover{
	color: #FFB800;
}
.fi-part-two{
	margin-top: 22%;
	text-align: center;
}
.fi-avtors{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.ctn{
	align-items: center;
}
@media all and (max-width: 425px){
	.footer-inner{
		display: block;
		text-align: center;
	}

	.fi-part-one, .fi-part-two{
		width: 100%;
	}
}